<div class="bg-custom-gradient-blue min-h-screen">
  <app-navbar />

  <div class="flex flex-col items-center gap-12 p-12 pt-8 justify-around">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-4">About</h2>

    <section class="flex flex-row justify-between w-full">
      <div class="w-2/3 flex flex-col justify-around align-start">
        <p class="mb-5">
          The Next Generation Internet Search project represents a pivotal European initiative aimed at transforming how people search and discover information online. This project supports a broad spectrum of individuals to challenge and redefine the conventional methodologies of internet search. 
        </p>
        <p class="mb-5">
          Tetys stands for Topics Evolution That You See and it is  a tool to explore specific topics and see how these have been addressed by scientific research over time. Tetys’ research is a beneficiary of the NGI Search 2nd Open Call. Funded within the framework of the NGI Search project under grant agreement No 101069364, funded by the European Union.
        </p>
        <p class="mb-5">
          The data was downloaded from Scopus API between June 1 and 30, 2024 via api.elsevier.com and SCOPUS.
        </p>
      </div>
      <div class="w-1/4 flex flex-col gap-2 align-start">
        <img src="assets/tetysTypography.svg" alt="Icon" class="w-36">
        <img src="assets/about2.svg" alt="NGI Search" class="w-52">
        <img src="assets/about3.svg" alt="Funded by EU" class="w-44">

      </div>
    </section>

    <section class="flex flex-row items-start justify-between gap-8 w-full">
      <div>
        <h5 class="mb-8 text-xl font-bold">Contributors</h5>
        <p class="mb-5">
          Francesco Invernici, Prof. Anna Bernasconi,
          Prof. Stefano Ceri With the collaboration of Francesca Curati, Jelena Jakimov, Amirhossein Samavi
        </p>
        <p>
          Dipartimento di Elettronica, Informazione e Bioingegneria<br>
          Politecnico di Milano<br>
          Via Ponzio 34/5 Milano<br>
          20133 Milano, Italy
        </p>
      </div>
      <div>
        <h5 class="mb-8 text-xl font-bold">Contacts</h5>
        <address class="space-y-1">
          <p>
            <a href="https://annabernasconi.faculty.polimi.it/" target="_blank" class="underline transition-colors">annabernasconi.faculty.polimi.it</a>
          </p>
          <p>Email: <a href="mailto:anna.bernasconi@polimi.it" class="underline transition-colors">anna.bernasconi&commat;polimi.it</a></p>
          <p>Phone: <span>+39 02 2399 3494</span></p>
        </address>
      </div>
    </section>
  
    <section class="flex flex-col items-start justify-between w-full">
        <h5 class="mb-8 text-xl font-bold">Citations</h5>
        <p class="mb-5">
          Our paper is in preparation. In the meantime, if you use Tetys, please cite it as follows: <br><br>
          Francesco Invernici, Francesca Curati, Jelena Jakimov, Amirhossein Samavi, Anna Bernasconi: "Capturing scientific literature attitude towards Sustainable Development Goals: an LLM-based topic modeling approach"
          
        </p> 
    </section>

  </div>
</div>
