bertopic==0.17.3
dask
huggingface-hub
matplotlib 
matplotlib-inline 
numpy 
openpyxl
pandas
plotly 
pure-eval 
pyarrow
pydantic
python-dateutil 
PyYAML 
regex
requests 
scikit-learn
scipy
seaborn 
sentence-transformers
six 
sniffio 
soupsieve 
spacy
statsmodels
tokenizers
torch
tqdm 
transformers
umap-learn
wordcloud